<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719734115160-beohu1v68hhnv7t9mct20vqntiptgket.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719734115160-beohu1v68hhnv7t9mct20vqntiptgket</string>
	<key>API_KEY</key>
	<string>AIzaSyCjidbhCXKF-XqzIPpSAFZ2Sm79Ml_6F0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>719734115160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lab.VisionStore</string>
	<key>PROJECT_ID</key>
	<string>proyecto-96530</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-96530.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719734115160:ios:ebe3084f005ea7530ff32d</string>
</dict>
</plist>